<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Lista Usuarios</title>
<link href="../../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link href="../../static/css/estilos.css" rel="stylesheet"
	th:href="@{/css/estilos.css}" />
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
		<a href="#" class="navbar-brand">TestCovid-19</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#navbarCollapse2">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse2">
			<div class="navbar-nav">
				<a href="/usuario" class="nav-item nav-link active">Usuarios</a> <a
					href="/barrio" class="nav-item nav-link">Barrios</a>
			</div>
			<form class="form-inline ml-auto" th:action="@{/usuario/buscar}"
				th:object="${usuario}" method="post">
				<input type="text" class="form-control mr-sm-2" placeholder="Nombre"
					name="nombreReal" th:value="${nombreReal}">
				<button type="submit" class="btn btn-outline-light">Buscar</button>
			</form>

		</div>
	</nav>
	<a class="btn btn-info" href="/usuario/nuevo">Nuevo Usuario</a>
	<hr>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3>Lista de Usuarios</h3>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Nombre de Usuario</th>
					<th>Tipo</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="usuario : ${usuarios}">
					<td data-th-text="${usuario.id}"></td>
					<td data-th-text="${usuario.nombreReal}"></td>
					<td data-th-text="${usuario.apellidoReal}"></td>
					<td data-th-text="${usuario.nombreUsuario}"></td>
					<td data-th-text="${usuario.tipoUsuario}"></td>
					<td>
						<div>
							<a class="btn btn-success btn-sm text-white "
								th:href="@{'/usuario/editar/{id}'(id=${usuario.id})}">
								Editar </a> <a class="btn btn-danger btn-sm text-white "
								data-toggle="modal" data-target="#modal-warning"
								th:attr="data-target='#modal-warning'+${usuario.id}"><span>Borrar</span></a>

							<div class="modal modal-warning fade in"
								th:id="modal-warning+${usuario.id}">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<h5 class="modal-title">Eliminar Usuario</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<h3>Esta seguro que desea eliminar al usuario
												seleccionado?</h3>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary"
												data-dismiss="modal">No</button>
											<a type="button" class="btn btn-secondary"
												th:href="@{/usuario/borrar/{id}(id=${usuario.id})}"><i
												class="fa fa-check"></i>&nbsp;Si</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
	<div class="footer">
		<p>Trabajo Practico Final-Programación Visual-2020</p>
	</div>
</body>
</html>