<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tabla de consulta</title>
</head>
<body>

<div th:insert="formularioConsulta :: formularioConsulta"></div>

<div class="table-responsive">
     <h3>TABLA DE CONSULTA</h3>
     <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">DNI</th>
              <th scope="col">Apellido</th>
              <th scope="col">Nombre</th>
              <th scope="col">Resultado</th>
              <th scope="col">Fecha y Hora</th>
              <th scope="col">Direccion</th>
              <th scope="col">Barrio</th>
            </tr>
        </thead>
     <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
          
          <!-- <tr th:each = "personaTesteada:${personaTesteada}">
            <td th:text = "${personaTesteada.documento}"></td>
            <td th:text = "${personaTesteada.apellido}"></td>
            <td th:text = "${personaTesteada.nombre}"></td>
            <td th:text = "${personaTesteada.resultado_testeo}"></td>
            <td th:text = "${personaTesteada.registroPersonaTesteada.fecha_hora}"></td>
            <td th:text = "${personaTesteada.registroPersonaTesteada.unidadHabitacional.direccion}"></td>
            <td th:text = "${personaTesteada.registroPersonaTesteada.unidadHabitacional.barrio.nombre}"></td>
           </tr> -->
    
      </tbody>
  </table>
</div>
    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>  
    <script type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</body>
</html>